<footer class="footer">

  <div class="footer-container">

    <!-- Company Info -->
    <div class="footer-section">
      <h3>Sharda Publication</h3>
      <p>
        Publishing high quality research journals and articles
        to support academic excellence and innovation.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/journals">Journals</a></li>
        <li><a href="#">Submit Paper</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-section">
      <h4>Contact</h4>

      <p>
        <i class="fa fa-envelope"></i>
        info@shardapublication.com
      </p>

      <p>
        <i class="fa fa-phone"></i>
        +91 9876543210
      </p>

      <p>
        <i class="fa fa-whatsapp"></i>
        +91 9876543210
      </p>
    </div>

    <!-- Social Media -->
    <div class="footer-section">
      <h4>Follow Us</h4>

      <div class="social-icons">

        <a href="https://www.instagram.com/sharda_publication_?igsh=NjZqcXpmZ2VzeXdx">
          <i class="fa fa-instagram"></i>
        </a>

        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>

        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="https://wa.me/919876543210">
          <i class="fa fa-whatsapp"></i>
        </a>

      </div>

    </div>

  </div>
  <div class="map-direction-button">
  <a 
    href="https://www.google.com/maps/place/Harikunj+Apartment/@23.8117581,86.4542615,17z/data=!3m1!4b1!4m6!3m5!1s0x39f6bd0005874889:0x2144c2cac6143c21!8m2!3d23.8117581!4d86.4568364!16s%2Fg%2F11xgdb8xc7?entry=ttu&g_ep=EgoyMDI2MDMxMS4wIKXMDSoASAFQAw%3D%3D" 
    target="_blank" 
    rel="noopener"
  >
    🧭 Get Directions on Google Maps
  </a>
</div>

  <!-- Google Map -->
  <div class="map-container">
   <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28789.49862061894!2d86.41226275!3d23.80148305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6bdc3ae755f21%3A0xe9e5140db12e3659!2sLaw%20College%2C%20Dhanbad%2C%20Jharkhand%20826001!5e0!3m2!1sen!2sin!4v1717755595056!5m2!1sen!2sin"
  width="100%"
  height="300"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
  </div>

  <div class="footer-bottom">
    © 2026 Sharda Publication | All Rights Reserved
  </div>

</footer>