<nav class="navbar">

  <div class="nav-container">

    <!-- Logo -->
    <div class="logo">
       <img src="assets/WhatsApp Image 2026-03-12 at 8.58.15 PM.jpeg" alt="Sharda Publication">
    </div>

    <!-- Menu -->
    <ul class="menu" [class.active]="menuOpen">
      <li><a routerLink="/" (click)=toggleMenu()>HOME</a></li>
    <li><a routerLink="/AboutUs" (click)=toggleMenu()>ABOUT US</a></li>
      <li><a routerLink="/journals" (click)=toggleMenu()>JOURNALS</a></li>
      <li><a routerLink="/ojs-services" (click)=toggleMenu() >SERVICES</a></li>
      <!-- <ul [class.active]="menuOpenService">
        <li >  <a routerLink="/journals"  (click)=toggleMenuService()>Research Publication </a></li>
        <li>  <a routerLink="/journals"  (click)=toggleMenuService()>Research Publication </a></li>
        <li>   <a routerLink="/journals" (click)=toggleMenuService()>Research Publication </a></li>
        <li>  <a routerLink="/journals"  (click)=toggleMenuService()>Research Publication </a></li>
        <li>  <a routerLink="/journals"  (click)=toggleMenuService()>Research Publication </a></li>
        <li>  <a routerLink="/journals"  (click)=toggleMenuService()>Research Publication </a></li>

      </ul> -->
      <li><a routerLink="/ph-support" (click)=toggleMenu()>PHD SUPPORT</a></li>
      <li><a routerLink="/login" (click)=toggleMenu()>RESOURCES</a></li>
      <li><a routerLink="/customerQuery" (click)=toggleMenu()>CONFERENCE</a></li> 
       <li><a routerLink="/customersArticle" (click)=toggleMenu()>Customer Article</a></li> 
     
  </ul>

    <!-- Hamburger -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <!-- Top Contact Bar -->
<div class="contact-bar">

  <div class="left-section">
    <a class="contact-btn" routerLink="/contact">Contact Us</a>
  </div>

  <div class="right-section">

    <span class="icon" (click)="sendEmail()">
      <i class="fa fa-envelope"></i>
    </span>

    <span  class="icon" (click)="makeCall()">
      <i class="fa fa-phone"></i>
    </span>

  </div>

</div>

<!-- Existing Navbar -->
<nav class="navbar">
  <!-- your existing navbar code -->
</nav>

</nav>