/* Overlay background */

.overlay{
  position: fixed;
  top:0;
  left:0;
  width:90%;
  height:100vh;

  background: rgba(0,0,0,0.6);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:9999;
  padding:20px;
}


/* Popup box */

.popup{
  background:#fff;
  width:100%;
  max-width:420px;

  padding:30px;
  border-radius:12px;

  position:relative;

  animation: popupAnimation 0.4s ease;

  box-shadow:0 15px 40px rgba(0,0,0,0.3);
}


/* Title */

.popup h2{
  text-align:center;
  margin-bottom:5px;
  font-size:24px;
}

.subtitle{
  text-align:center;
  font-size:14px;
  color:#777;
  margin-bottom:20px;
}


/* Inputs */

.popup input,
.popup textarea{

  width:90%;
  padding:12px;
  margin-bottom:12px;

  border:1px solid #ddd;
  border-radius:6px;

  font-size:14px;
  transition:0.3s;
}


.popup input:focus,
.popup textarea:focus{

  border-color:#007bff;
  outline:none;
}


/* Button */

.popup button{

  width:100%;
  padding:12px;

  background:#007bff;
  color:white;

  border:none;
  border-radius:6px;

  font-size:16px;
  cursor:pointer;

  transition:0.3s;
}

.popup button:hover{
  background:#0056b3;
}


/* Close button */

.close-btn{

  position:absolute;
  top:12px;
  right:15px;

  font-size:18px;
  cursor:pointer;
  color:#888;
}

.close-btn:hover{
  color:black;
}


/* Animation */

@keyframes popupAnimation{

  from{
    transform:translateY(-40px);
    opacity:0;
  }

  to{
    transform:translateY(0);
    opacity:1;
  }

}


/* Mobile */

@media(max-width:480px){

.popup{
  padding:22px;
}

.popup h2{
  font-size:20px;
}

}