<section class="hero">

  <div class="hero-content">

    <h1>
      Publish Your Research
      <span>With Confidence</span>
    </h1>

    <p>
      Sharda Publication helps researchers with editing,
      formatting and journal submission support.
    </p>

    <div class="hero-buttons">
      <button class="primary-btn">Submit Your Paper</button>
      <button class="secondary-btn">Learn More</button>
    </div>

  </div>

<video #homeVideo autoplay muted loop playsinline width="100%">
  <source src="assets/adversing.mp4" type="video/mp4">
</video>


</section>
